<!DOCTYPE html>
<html>

<head>
  <!-- Site meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title> </title>
  <!-- CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <!--===============================================================================================-->

</head>

<body>
  <%- include ("layout.ejs") %>

  <!-- Search form -->
  <div class="search" style="text-align: center;">
    <input class="form-control" type="text" placeholder="Delivery to . ." aria-label="Search" style="display: inline;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-lat='21.03'
      data-lng='105.85'>
      Location
    </button>
  </div>

  <style>
    .search {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  </style>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 modal_body_map">
              <div class="location-map" id="location-map">
                <div style="width: 600px; height: 400px;" id="map_canvas"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>


  <!-- <div class="container">
    <h2 id="title" class="section-header">PERSONAL DETAILS</h2>

    <form action="#" method="POST">
      <div id="details">
        <p>
          NAME <br class="d-block d-sm-none"><input type="text" id="name">
        <p></p>
        PHONE NO.<br class="d-block d-sm-none"><input type="number" id="phoneno">
        <p></p>
        ADDRESS<br class="d-block d-sm-none"><input type="text" id="address">
        <p></p>
        </p>

        <section class="container content-section">
          <h2 class="section-header">YOUR CART</h2>

          <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-item cart-header cart-column">HOTEL</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
          </div>

          <div class="cart-items"></div>

          <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price"></span>
          </div>
          <button class="btn btn-primary btn-purchase" type="submit">PLACE ORDER</button>
        </section>
    </form>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col">Product</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-right">Price</th>
                <th> </th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                <td>Product Name Dada</td>
                <td>
                  <button class="btn btn-sm btn-success"><i class="fa fa-plus-square"></i> </button>
                  <input class="form-control" type="text" value="1" style="display: inline;" />
                  <button class="btn btn-sm btn-danger"><i class="fa fa-minus-square"></i> </button>
                </td>
                <td class="text-right">124,90 ฿</td>
                <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
              </tr>

              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Sub-Total</td>
                <td class="text-right">..... ฿</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Shipping</td>
                <td class="text-right">5 ฿</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total</strong></td>
                <td class="text-right"><strong>.... ฿</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="col mb-2">
        <div class="row">
          <div class="col-sm-12  col-md-6">
            <a href="/shops"><button class="btn btn-block btn-light">Continue Shopping</button></a>
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
<script type="text/javascript">
  //Plus & Minus for Quantity product
  $(document).ready(function () {
    var quantity = 1;

    $('.quantity-right-plus').click(function (e) {
      e.preventDefault();
      var quantity = parseInt($('#quantity').val());
      $('#quantity').val(quantity + 1);
    });

    $('.quantity-left-minus').click(function (e) {
      e.preventDefault();
      var quantity = parseInt($('#quantity').val());
      if (quantity > 1) {
        $('#quantity').val(quantity - 1);
      }
    });

  });

  // Map

  $(document).ready(function () {
    var map = null;
    var myMarker;
    var myLatlng;

    function initializeGMap(lat, lng) {
      myLatlng = new google.maps.LatLng(lat, lng);

      var myOptions = {
        zoom: 12,
        zoomControl: true,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      myMarker = new google.maps.Marker({
        position: myLatlng
      });
      myMarker.setMap(map);
    }

    // Re-init map before show modal
    $('#myModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      initializeGMap(button.data('lat'), button.data('lng'));
      $("#location-map").css("width", "100%");
      $("#map_canvas").css("width", "100%");
    });

    // Trigger map resize event after modal shown
    $('#myModal').on('shown.bs.modal', function () {
      google.maps.event.trigger(map, "resize");
      map.setCenter(myLatlng);
    });
  });
</script>

<script>
  // const cartItems = document.querySelector(".cart-items");
  // const cartTotalPrice = document.querySelector(".cart-total-price");

  // let dishRows = [];


  // window.addEventListener
  //   (
  //     "load",
  //     async () => {
  //       const dishes = JSON.parse(sessionStorage.getItem("fo_dishes"));
  //       if (dishes && dishes.length > 0) {
  //         const details = await fetch
  //           (
  //             "/cart",
  //             {
  //               method: "POST",
  //               headers: {
  //                 "Content-Type": "application/json"
  //               },
  //               body: JSON.stringify({ dishes })
  //             }
  //           )
  //           .then((allDetails) => allDetails.json());

  //         for (let i = 0; i < details.dishRestDetails.length; i++) {
  //           dishRows[i] = makeRow(details.dishRestDetails[i]);
  //           cartItems.appendChild(dishRows[i]);
  //         }
  //       }

  //       updateTotalPrice();
  //     }
  //   );


  // /* <div class="cart-row" data-dish-price="dvnd">
  //   <span class="cart-item-title cart-column">pnr pasanda</span>
  //   <span class="cart-item-title cart-column">Hotel</span>
  //   <span class="cart-price cart-column">₹190</span>
  //   <div class="cart-quantity cart-column">
  //     <input class="cart-quantity-input" type="number" value="1">
  //     <button class="btn btn-danger" type="button">Remove</button>
  //   </div>
  // </div> */


  // function makeRow(obj) {
  //   const rowDiv = createElement("div.cart-row", null, {
  //     "data-dish-price": obj.dishDetails.price
  //   });

  //   createElement("span.cart-item-title.cart-column", rowDiv, {
  //     innerText: obj.dishDetails.name
  //   });

  //   createElement("span.cart-item-title.cart-column", rowDiv, {
  //     innerText: obj.restDetails.name
  //   });

  //   createElement("span.cart-price.cart-column", rowDiv, {
  //     innerText: "₹" + obj.dishDetails.price
  //   });


  //   const div = createElement("div.cart-quantity.cart-column", rowDiv);

  //   createElement("input.cart-quantity-input", div, {
  //     type: "number",
  //     value: 1,
  //     min: 1
  //   }).addEventListener("change", updateTotalPrice);

  //   createElement("button.btn.btn-danger", div, {
  //     type: "submit",
  //     innerText: "Remove"
  //   }).addEventListener("click", () => {
  //     rowDiv.remove();

  //     dishRows = dishRows.filter(e => !rowDiv.isSameNode(e));
  //     updateTotalPrice();

  //     const currSessionStorage = JSON.parse(sessionStorage.getItem("fo_dishes"));
  //     const newSessionStorage = currSessionStorage.filter(id => obj.dishDetails.id != id);
  //     sessionStorage.setItem("fo_dishes", JSON.stringify(newSessionStorage));
  //   });

  //   return rowDiv;
  // }


  // function createElement(selector, parent, attributes = {}) {
  //   let classes = selector.split(".");

  //   let tagAndId = classes.shift();
  //   let [tag, id] = tagAndId.split("#");

  //   let element = document.createElement(tag);

  //   if (id)
  //     element.id = id;
  //   if (classes.length)
  //     element.classList.add(...classes);

  //   if (parent)
  //     parent.appendChild(element);

  //   for (let k in attributes)
  //     if (k in element)
  //       element[k] = attributes[k];
  //     else
  //       element.setAttribute(k, attributes[k]);

  //   return element;
  // }


  // function updateTotalPrice() {
  //   let totalPrice = 0;

  //   for (let i = 0; i < dishRows.length; i++)
  //     totalPrice += dishRows[i].dataset.dishPrice * dishRows[i].querySelector(".cart-quantity-input").value;

  //   cartTotalPrice.innerText = "₹" + totalPrice;
  // }
</script>


</html>