<!DOCTYPE html>
<html>

<head>
  <!-- Site meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title> </title>
  <!-- CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <!--===============================================================================================-->

</head>

<body>
  <%- include ("layout.ejs") %>

  <!-- Search form -->
  <div class="search" style="text-align: center;">
    <input id="delivery-to" class="form-control" type="text" placeholder="Delivery to . ." aria-label="Search"
      style="display: inline;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-lat='21.03'
      data-lng='105.85'>
      Location
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 modal_body_map">
              <div class="location-map" id="location-map">
                <div style="width: 600px; height: 400px;" id="map_canvas"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Placed at the end of the document so the pages load faster -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>




</body>


<!-- Scripts -->
<script src="/javascripts/cart.js"></script>
<script src="/javascripts/maps.js"></script>
<script src="/javascripts/confirm_modal.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS88d4xprgWQAkXEJqw9FWfVP04tik8Os&callback=initMap" async
  defer></script>
</body>

</html>