<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Site meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title> </title>
  <!-- CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/senderstyle.css">
  <!--===============================================================================================-->

</head>

<%- include ("layoutSender.ejs") %>

<body>
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/it60-42-choen-savoey.appspot.com/o/imgshop%2FDSC_4774-840x561.jpg?alt=media&token=343d7721-7a75-47f7-8457-c9e200a1535e" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/it60-42-choen-savoey.appspot.com/o/imgshop%2FDSC_4774-840x561.jpg?alt=media&token=343d7721-7a75-47f7-8457-c9e200a1535e" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/it60-42-choen-savoey.appspot.com/o/imgshop%2FDSC_4774-840x561.jpg?alt=media&token=343d7721-7a75-47f7-8457-c9e200a1535e" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      </div>
  </div>

  </div>


</body>

</html>