@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');
.list-item__thumbnail {
    width: 30px;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#top {
    background-image: linear-gradient(to right, #1d617a, #61c2a2);
}


.navbar a {
    float: left;
    display: block;
    color: #f2f2f2 !important;
    text-align: center;
    padding: 1px;
    text-decoration: none;
    font-size: 17pt;
    margin-left: 20px;
}

.navbar p {
    color: #f2f2f2 !important;
    margin: 0px;
}
.navbar a:hover {
    color: aliceblue;
    text-decoration: none;
}

.form-control {
    width: 50% !important;
}