<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <title></title>
</head>

  <%- include ("layoutSender.ejs") %>
<body>

  <div style="height: auto; padding: 1px 0 0 0;">
    <div class="card card--material">
      <div class="card__title card--material__title">Card Title</div>
      <div class="card__content card--material__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
  </div>

  <div style="height: auto; padding: 1px 0 0 0;">
    <div class="card card--material">
      <div class="card__title card--material__title">Card Title</div>
      <div class="card__content card--material__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
  </div>

  <div style="height: auto; padding: 1px 0 0 0;">
    <div class="card card--material">
      <div class="card__title card--material__title">Card Title</div>
      <div class="card__content card--material__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
  </div>

  <div style="height: auto; padding: 1px 0 0 0;">
    <div class="card card--material">
      <div class="card__title card--material__title">Card Title</div>
      <div class="card__content card--material__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
  </div>
  
</body>
</html>
