<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <!-- Site meta -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <title> </title>
   <!-- CSS -->
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <!--===============================================================================================-->

</head>

<body>
<%- include ("layout.ejs") %>


  <ul class="list">
    <a href="/chat" style="text-decoration: none;"><li class="list-item">
      <div class="list-item__left">
        <img class="list-item__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
      </div>
  
      <div class="list-item__center">
        <div class="list-item__title">Alice</div>
        <div class="list-item__subtitle">Description</div>
      </div>
  
      <div class="list-item__right">
        <i class="ion-ios-information list-item__icon"></i>
      </div>
    </li></a>
  
    <a href="/chat" style="text-decoration: none;"><li class="list-item">
      <div class="list-item__left">
        <img class="list-item__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
      </div>
  
      <div class="list-item__center">
        <div class="list-item__title">Bob</div>
        <div class="list-item__subtitle">Description</div>
      </div>
  
      <div class="list-item__right">
        <i class="ion-ios-information list-item__icon"></i>
      </div>
    </li></a> 

    <a href="/chat" style="text-decoration: none;"><li class="list-item">
      <div class="list-item__left">
        <img class="list-item__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
      </div>
  
      <div class="list-item__center">
        <div class="list-item__title">Bob</div>
        <div class="list-item__subtitle">Description</div>
      </div>
  
      <div class="list-item__right">
        <i class="ion-ios-information list-item__icon"></i>
      </div>
    </li></a> 

  </ul>
                              
</body>
</html>