<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
 <!--===============================================================================================-->
 <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
 <!--===============================================================================================-->



</head>

<body>
  <%- include ("layoutSender.ejs") %>
</body>

<style>
  .font {
    font-family: kanit;
  }
</style>

</html>