<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <!-- on-sen -->
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <link href='https://fonts.googleapis.com/css?family=Kanit:400,300&subset=thai,latin' rel='stylesheet' type='text/css'>
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>



  <div class="container">
    <!-- <%- include('layout.ejs') %> -->

    <h1>เชิญเสวย</h1>
    <h6>CHERN SAVOEY</h6>




    <p>
    <h4 align="center" style="color: #1D617A;">Create Member</h2>
      </p>


      <!-- display if error -->
      <% if(locals.errors){ %>
      <ul class="alert alert-danger">
        <% Object.values(errors).forEach(function(error){%>
        <li><%= error.msg %></li>
        <%})%>
      </ul>
      <%}%>


      <form action="/users/register" method="post">
        <!-- มี filed 2 แบบ -->
          <p>
            <div id="username" align="center">
          <!-- <input type="text" name="name" value="" class="form-control" placeholder="Username" float />  -->
          <ons-input class="inputregister font" id="username" placeholder="Username" float></ons-input>
          </div>
          </p>
            
        
          <p>
            <div id="email"  align="center">
          <!-- <input type="email" name="email" value="" class="form-control" placeholder="E-mail" float /> -->
          <ons-input  id="email" class="inputregister font" type="email" placeholder="E-mail" float></ons-input>
          </div>
          </p>

        
        <p>
          <div id="password"  align="center">
          <!-- <input type="password" name="password" value="" class="form-control" placeholder="Password" float/> -->
            <ons-input id="password" class="inputregister font" type="password" placeholder="Password" float></ons-input>
        </div>
        </p>

        <!-- <input type="submit" name="" value="Register" class="btn btn-primary" /> -->
      </form>

      <p align="center">
        <ons-button class="registerbtn font" onclick="register()" >Register</ons-button>
      </p>
      



      <style>
        h1 {
          font-family: kanit;
          font-size: 60px;
          text-align: center;
          margin: auto;
          margin-top: 30%;
          margin-bottom: 5px;
          background: linear-gradient(#1D617A, #61C2A2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    
    
    
        }
    
        h6 {
          font-family: kanit;
          font-size: 14px;
          margin-bottom: 15%;
          text-align: center;
          color: #1D617A;
          text-indent: 80px;
    
        }
    
        .register {
          text-align: center;
        }
    
        .inputregister {
          background-color: rgb(255, 255, 255);
          border-radius: 20px;
          padding: 5px;
          /* border: 2px solid rgb(216, 216, 216); */
          box-shadow: 2px 2px 2px grey;
    
        }
    
        .text-input--material {
          background-image: unset;
          padding: 2px;
        }
    
        .registerbtn {
          background-image: linear-gradient(to right, #1D617A, #61C2A2);
          margin-top: 30px;
          border-radius: 20px;
          width: 7em;
          letter-spacing: 1px;
          box-shadow: 1px 1px 1px grey;
          text-align: center;
        }

        .font {
          font-family: Kanit;
        }
      </style>

<script>
  var register = function () {
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;
    var email = document.getElementById('email').value;
    if (username && password && email != null) {
      ons.notification.alert('Congratulations!');
      //   if{
      //     var mailformat = /^w+([.-]?w+)*@w+([.-]?w+)*(.w{2,3})+$/;
      //     if(email.value.match(mailformat)) {
      //     alert("You have entered a valid email address!");    //The pop up alert for a valid email address
      //     document.form1.text1.focus();
      //     return true;
      //   }
      //   else {
      //     alert("You have entered an invalid email address!");    //The pop up alert for an invalid email address
      //     document.form1.text1.focus();
      //     return false;
      //   }
      // }
    } else {
      ons.notification.alert('Incorrect username or password.');
    }
  };
</script>

  </body>
</html>